.Ticket {
    background: #FFFFFF;
}

.TicketInfo {
    border-right: 1px solid #ECEFF1;
}

.TicketSchedule {
    border-left: 1px solid #ECEFF1;
}

.TicketInfo button {
    background: #FF6D00;
   // box-shadow: 0 1px 0 0 #D64D08, 0 2px 1px 0 rgba(0,0,0,0.10);
   // border-radius: 5px;
   // font-size: 16px;
    color: white;
}

.TicketInfo button:hover {
    cursor: pointer;
    background: #FF8124;
    box-shadow: 0 1px 0 0 #F7661D, 0 1px 5px 0 rgba(0,0,0,0.25);
}

.FontTime {
    font-size: 32px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 26px;
}

.FontCity{
    font-size: 12px;
    color: #4A4A4A;
    line-height: 18px;
}

.TicketStops {
    font-size: 10px;
    color: #8B9497;
    text-align: center;
    line-height: 12.1px;
}

.FontLeft {
    text-align: left;
}

@media (max-width: 768px) {
    .FontLeft {
        text-align: center;
    }
}
